
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.header .logo {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.header .svg {
    font-size: 30px;
    margin-left: 5px;
}

.header nav a {
   text-decoration: none;
   margin-left: 20px;
   color: #fff;
   font-size: 20px;
}

.header nav a:hover {
    font-weight: bold;
}

a[data-color="red"]:hover {
    color: var(--red)
}

a[data-color="green"]:hover {
    color: var(--green)
}

a[data-color="yellow"]:hover {
    color: var(--yellow)
}