
.sort {
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 49px);
    margin-top: 49px;
}

.sort .container {
    max-width: 500px;
    max-height: 500px;
    position: relative;
    aspect-ratio: 1 / 1;
    border: 2px solid #121212;
    padding: 10px;
}

.sort .name {
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 0 0 15px 0;
}

.sort .name[data-color="red"] {
    color: var(--red);
}

.sort .name[data-color="green"] {
    color: var(--green);
}

.sort .name[data-color="yellow"] {
    color: var(--yellow);
}

.sort .container .change {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 10px;
    font-size: 28px;
    border-radius: 0 0 0 15px;
    z-index: 10;
    border: none;
    background-color: transparent;
}


#line , #line1 , #line2{
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #000;
}

#line .items, #line1 .items, #line2 .items {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}

#line.top, #lin1.top, #line2.top{
    top: 0;
}

#line.bottom, #line1.bottom, #line2.bottom {
    bottom: 0;
}

.sort .changeData {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    transition: ease-in-out 1s;
}

.sort .changeData.active {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.sort .changeData * {
    transition: ease-in-out 1s;
    transform: translate(-300px,0);
    opacity: 0;
    display: none;
    color: #fff;
}

.sort .changeData.active * {
    transform: translate(0,0);
    display: flex;
    opacity: 1;
}

.sort .changeData label {
    font-weight: bold;
    font-size: 25px;
}

.sort .newValues {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    padding: 10px;
}

.sort .newValues input {
    color: #000;
    width: 50px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.container_items {
    z-index: -1;
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button:nth-child(1) {
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    width: 60px;
    font-size: 20px;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 0 0 10px 10px ;
}

.sort .item {
    position: relative;
    text-align: center;
    font-size: 10px;
    padding: 1px;
}





@media screen and (orientation: portrait) {
    .sort .container {
        width: 90%;
    }
}

@media screen and (orientation: landscape) {
    .sort .container {
        height: 80%;
    }
}