.sort {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.sort h2 {
    margin-bottom: 1.5rem;
}

.sort .sortContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
}

.sort.red .sortContainer {
    border: 2px solid var(--red);
}

.sort.green .sortContainer {
    border: 2px solid var(--green);
}

.sort.yellow .sortContainer {
    border: 2px solid var(--yellow);
}

.sort .sortContainer .item {
    position: absolute;
    width: 1%;
    aspect-ratio: 1 / 1;
    background-color: #121212;
}

.sort .buttonSort {
    position: absolute;
    font-size: 1rem;
    padding: 0.1rem 0.3rem;
    border: 2px solid var(--red);
    font-weight: bold;
    top: -1.65rem;
    left: -0.11rem;
    border-radius: 10px 10px 0 0;
}

.sort .buttonSort.um {
    background-color: aqua;
    left: calc(100% - 5.85rem);
}

.sort .buttonSort:hover {
    color: #fff;
}

.sort.red .buttonSort {
    background-color: var(--red);
}