.sort {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.sort .sortContainer {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
}

.sort.red .sortContainer {
    border: 2px solid var(--red);
}

.sort.green .sortContainer {
    border: 2px solid var(--green);
}

.sort.yellow .sortContainer {
    border: 2px solid var(--yellow);
}

.sort .sortContainer .item {
    position: absolute;
    width: 1%;
    aspect-ratio: 1 / 1;
    background-color: #121212;
}