@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --red: #F23030ed;
  --green: #267365;
  --yellow: #F2CB05;
  --blue: #00a2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
  color: #000;
}

.color {
  width: 100px;
  height: 100px;
  background-color: red;
}

.algoritms {
  margin-top: 3.1em;
  width: 100vw;
  min-height: calc(100vh - 3.1em);
}

.sort {
  width: 100%;
  min-height: calc(100vh - 3.1em);
}